@charset "utf-8";

.post-preview {
  margin-top: 30px;
}

.results {
  margin-bottom: 30px;
  border-bottom: 1px solid #dddddd;
  font-size: 15px;
}

button {
  height: 28px;
  border-radius: 5px;
  width: 50px;
  border: 1px solid #006400;
  background-color: #006400;
  color: #ffffff;
}

footer {
  position: fixed;
}
