@charset "utf-8";

input {
  height: 20px;
  font-size: 100%;
}

button {
  height: 28px;
  border-radius: 5px;
  width: 50px;
  border: 1px solid #006400;
  background-color: #006400;
  color: #ffffff;
}

.inputs {
  margin-bottom: 20px;
}
